{% extends 'portal/_base.html' %}

{% block title %}{{ obra.nome }} — Portal do Cliente{% endblock %}

{% block extra_styles %}
{% include 'portal/_partials/_styles.html' %}
{% endblock %}

{% block content %}
{% include 'portal/_partials/_resumo.html' %}
{% include 'portal/_partials/_cronograma.html' %}
{% include 'portal/_partials/_compras.html' %}
{% include 'portal/_partials/_comprovante.html' %}
{% include 'portal/_partials/_medicoes.html' %}
{% include 'portal/_partials/_mapas_v2.html' %}
{% include 'portal/_partials/_rdos.html' %}
{% endblock %}

{% block extra_scripts %}
<script>
{% include 'portal/_partials/_scripts.html' %}
</script>
{% endblock %}
